@model IEnumerable<Don_PlcDashboard_and_Reports.Models.TagModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tagTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlcModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlcModel.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TagID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TagID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TagID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Scripturi *@
@section scripts {
    @*<script src="~/js/site.js"></script>*@
    @*Resetare automata continut pagina pentru a nu intra in standby*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tagTable').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: ['copy', 'csv', 'excel']
                }
            });
        });
    </script>
}
