@model Don_PlcDashboard_and_Reports.Models.PlcModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlcModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsEnable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsEnable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CpuType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CpuType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlcModelID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
